body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  height: auto;
}
main {
  flex-grow: 1;
}

/* Page header */
.header {
  display: flex;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-in {
  display: flex;
  width: 1158px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo .accent {
  color: #2e2f42;
}
.nav-menu {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: flex-start;
}
.nav-link {
  color: #404bbf;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-menu {
  color: #2e2f42;
}
.link-studio::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}

.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;

  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}

a {
  text-decoration: none;
}

.contacts-link {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.address-link {
  display: inline-block;
  padding: 24px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}

/* END Header */

/* Unique page content  */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

.hero-section {
  padding: 188px 0 188px;
  background-color: #2e2f42;
}
.background-image {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-button {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
  background-color: #404bbf;
}
.main-button:focus {
  background-color: #404bbf;
}

/* закінчується hero-siction */

/* TODO Benefits section*/
.benefits {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.list-item {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  text-align: left;
  width: calc((100% - 72px) / 4);
  padding-bottom: 8px;
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: var(--CLOUD, #f4f4fd);
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
}

.benefits-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our Team section*/
.team-job {
  background-color: #f4f4fd;
  flex-shrink: 0;
  padding: 120px 0;
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.team-text {
  padding: 32px 0;
  text-align: center;
}

.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4);
  gap: 24px;
}
.team-name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.personal-job {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background: var(--OCEAN, #404bbf);
}
.social-link:focus {
  background: var(--OCEAN, #404bbf);
}
.icon-social-networks {
  fill: var(--CLOUD, #f4f4fd);
}

/* END Our team */

/* Our Portfolio section */
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-style: normal;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: var(--WHITE, #fff);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-images {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--CLOUD, #f4f4fd);
  padding: 40px 32px;
  background: var(--IRIS, #4d5ae5);
  transform: translateY(100%);
  /* transition: transforf 240ms linear; */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .overlay,
.portfolio-list:focus .overlay {
  transform: translateY(0%);
}

.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.list-text {
  display: block;
  padding: 32px 16px;
  text-align: left;
  margin-top: 0;
  width: 100%;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.works-title {
  color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
/* END Portfolio section */

/* Footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0;
}
.first-block {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.social-text {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.icon-social-networks-footer {
  fill: var(--CLOUD, #f4f4fd);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -80%);
}
.social-item-footer {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--IRIS, #4d5ae5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover {
  background-color: var(--OCEAN, #31d0aa);
}
.social-link-footer:focus {
  background-color: var(--OCEAN, #31d0aa);
}
.second-block {
  margin-right: 80px;
}

/* Modal footer */
.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-input-label {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-user-subscribe {
  display: flex;
  gap: 24px;
}
.footer-modal-input {
  color: var(--WHITE, #fff);
  background-color: transparent;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--WHITE, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-modal-input::placeholder {
  color: var(--WHITE, #fff);
}
.footer-modal-input:focus,
.footer-modal-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  color: #ffffff;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  gap: 10px;
  cursor: pointer;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover {
  background-color: #404bbf;
}
.footer-button:focus {
  background-color: #404bbf;
}

.footer-input-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 16px;
}

/* END Footer */

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* overflow: hidden; */
}

.is-open {
  opacity: 0;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 72px 24px 24px 24px;
}

.backdrop .modal::-webkit-scrollbar {
  width: 1px; /* Ширина стилізованого скролу */
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  fill: var(--CORNFLOWER, #e7e9fc);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--CORNFLOWER, #e7e9fc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.modal-checkbox-icon-close {
  width: 8px;
  height: 8px;
  fill: var(--NAVY-BLUE, #2e2f42);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-close:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-close + .modal-checkbox-icon-close {
  fill: var(--WHITE, #ffffff);
  background-color: #404bbf;
  border: none;
}
.modal-close:hover .modal-checkbox-icon-close,
.modal-close:focus .modal-checkbox-icon-close {
  fill: var(--WHITE, #ffffff);
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}
.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-lable {
  display: block;
  font-family: Roboto;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding: 11px 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus,
.modal-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}
.modal-textarea::placeholder,
.modal-input::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--IRIS, #4d5ae5);
}

.modal-textarea {
  min-height: 120px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  max-width: 360px;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-lable {
  position: relative;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  width: 338px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  fill: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* При виборі чекбокса приховуємо пустий чекбокс */
.modal-checkbox-input:checked + .modal-checkbox-lable .modal-checkbox-check {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-checkbox-input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: opacity 0.3s ease;
  position: absolute;
  left: -9999px;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.modal-checkbox-input:checked + .modal-checkbox-check + .modal-checkbox-icon {
  opacity: 1;
}

.modal-link {
  color: var(--IRIS, #4d5ae5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.form-button {
  display: block;
  text-align: center;
  margin: 24px auto;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
  background-color: #404bbf;
}
.form-button:focus {
  background-color: #404bbf;
}
/* END Modal */
